<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0   https://maven.apache.org/xsd/settings-1.1.0.xsd"
>
	<servers>
		<server>
			<id>github</id>
			<username>taranion</username>
			<password>${env.GITHUB_TOKEN}</password>
		</server>
      <server>
            <id>central</id>
            <username>${env.SONATYPE_USER_TOKEN}</username>
            <password>${env.SONATYPE_PWD_TOKEN}</password>
      </server>
	</servers>
	<profiles>
		<profile>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
            <repository>
               <name>Central Portal Snapshots</name>
               <id>central-portal-snapshots</id>
               <url>https://central.sonatype.com/repository/maven-snapshots/</url>
               <releases><enabled>false</enabled></releases>
               <snapshots><enabled>true</enabled></snapshots>
            </repository>
				<repository>
          		<id>github</id>
          		<url>https://maven.pkg.github.com/taranion/CommLink</url>
          		<snapshots>
            		<enabled>true</enabled>
          		</snapshots>
        		</repository>
			</repositories>
		</profile>
	</profiles>

	<mirrors>
		<mirror>
			<id>maven-default-http-blocker</id>
			<mirrorOf>external:http:*</mirrorOf>
			<name>Pseudo repository to mirror external repositories initially using HTTP.</name>
			<url>http://0.0.0.0/</url>
			<blocked>false</blocked>
		</mirror>
	</mirrors>
</settings>