<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%5p [%15c] (%F:%L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
    <Logger name="xml" level="warn"/>
    <Logger name="jdk" level="warn"/>
    <Logger name="javafx" level="info"/>
    <Logger name="prelle.jfx" level="DEBUG"/>
    <Logger name="rpgframework.jfx" level="WARN"/>
    <Logger name="de.rpgframework.jfx.pages" level="DEBUG"/>
    <Logger name="de.rpgframework.genericrpg.chargen" level="DEBUG"/>
    <Logger name="de.rpgframework.genericrpg.items" level="INFO"/>
    <Logger name="de.rpgframework.genericrpg.items.formula" level="WARN"/>
    <Logger name="de.rpgframework.shadowrun" level="WARN"/>
    <Logger name="de.rpgframework.shadowrun.chargen.jfx" level="INFO"/>
    <Logger name="de.rpgframework.shadowrun.jfx" level="DEBUG"/>
    <Logger name="de.rpgframework.shadowrun6" level="DEBUG"/>
    <!--Logger name="de.rpgframework.shadowrun6.chargen" level="INFO"/-->
    <Logger name="de.rpgframework.shadowrun6.chargen" level="INFO"/>
    <Logger name="de.rpgframework.shadowrun6.chargen.gen.mor" level="DEBUG"/>
    <Logger name="de.rpgframework.shadowrun6.chargen.gen.skill" level="TRACE"/>
    <Logger name="de.rpgframework.shadowrun6.chargen.jfx" level="DEBUG"/>
    <Logger name="de.rpgframework.jfx.wizard.WizardPageGenerator" level="TRACE"/>    
	</Loggers>
</Configuration>
			