<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%5p [%15c] (%F:%L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
    <Logger name="sun" level="ERROR"/>
    <Logger name="xml" level="warn"/>
    <Logger name="jdk" level="warn"/>
    <Logger name="javafx" level="info"/>
    <Logger name="prelle.jfx" level="WARN"/>
    <Logger name="de.rpgframework.genericrpg.chargen.main" level="DEBUG"/>
    <Logger name="de.rpgframework.genericrpg.items" level="WARN"/>
    <Logger name="de.rpgframework.shadowrun.chargen" level="INFO"/>
    <Logger name="de.rpgframework.shadowrun.chargen.jfx.section" level="DEBUG"/>
    <Logger name="de.rpgframework.shadowrun.chargen.jfx.wizard.skill" level="DEBUG"/>
    <Logger name="de.rpgframework.shadowrun6.chargen.proc" level="INFO"/>
    <Logger name="de.rpgframework.shadowrun6.chargen" level="INFO"/>
    <Logger name="de.rpgframework.shadowrun6.chargen.gen.adept" level="DEBUG"/>
    <Logger name="de.rpgframework.shadowrun6.chargen.gen.spells" level="DEBUG"/>

    <Logger name="de.rpgframework.shadowrun6.chargen.charctrl" level="DEBUG"/>
    <Logger name="de.rpgframework.shadowrun6.chargen.jfx.selector" level="DEBUG"/>
    <Logger name="de.rpgframework.shadowrun6.data" level="DEBUG"/>
    <Logger name="de.rpgframework.shadowrun6.items" level="INFO"/>
    <Logger name="de.rpgframework.shadowrun6.proc" level="WARN"/>
	</Loggers>
</Configuration>
