.root {
	-fx-background-image: url(background.png), url(border.png);
  	-fx-background-size: cover, contain;
  	-fx-background-position: left top, right top;
  	-fx-background-repeat: no-repeat; 
}

.navigation-pane-vertical {
	-fx-border-color: #c44895;
	-fx-border-width: 0 1px 0 0;
	-fx-border-style: solid;
}

#header {
	-fx-graphic: url(commlink.png);
	-fx-font-weight: bold;
    -fx-border-width: 0px 0px 0px 0.3em;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0.5em;
    -fx-max-width: 12em;
    -fx-alignment: center-left;
}

.category-button {
	-fx-background-color: rgba(255,255,255, 0.4);
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-color: rgba(0,0,0, 0.1);
}
.button:hover {
	-fx-background-color: white;
}

#categories {
	-fx-hgap: 1em;
	-fx-vgap: 1em;
	-fx-alignment: top-center;
}

#categories .button {
	-fx-min-width: 15em;
	-fx-pref-width: 20em;
}
